<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
     <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <h2>Login</h2>
            <label for="username">Email</label>
            <input input type="text" name="email" id="email" value="suhailwt12@gmail.com">

            <label for="password">Password</label>
            <input type="password"  name="password" id="pass" required value="12345">

            <button type="submit">Login</button>
        </form>
        <p >{{errorMessage}}</p>
    </div>

</body>

</html>